a {
  text-decoration: none;
  padding-left: 12px;
  padding-right: 12px;
}

.header .top-left a,
.header .top-right a {
  color: #000;
  opacity: 0.75;
}

.footer .bottom-left a,
.footer .bottom-right a {
  color: #5f6368;
}

#search {
  border-radius: 35px;
  width: 375px;
  height: 45px;
  padding: 0px 50px;
  border: 1px solid lightgray;
  outline: none;
}

#search-icon {
  height: 15px;
  position: relative;
  left: 50px;
  top: 13px;
}

#mic {
  height: 20px;
  position: relative;
  right: 50px;
  top: 14px;
}

.Menu {
  display: inline-grid;
  position: relative;
  bottom: 7px;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: auto;
  gap: 2px;
  padding-left: 12px;
  padding-right: 12px;
}

.box {
  height: 4px;
  width: 4px;
  background-color: #000;
  opacity: 0.6;
}

#account {
  display: inline-flex;
  background-color: green;
  font-size: 17px;
  color: white;
  width: 33px;
  height: 33px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 73, 56);
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  bottom: 7px;
  vertical-align: top;
}

div {
  font-family: arial, sans-serif;
}

button {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #5f6368;
  padding: 10px 14px;
  border-style: none;
  border-radius: 5px;
  margin: 3px;
}

.buttons {
  padding: 25px;
}

img {
  padding: 10px;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70vh;
}

.center {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.bottom-right {
  display: flex;
  width: auto;
  justify-content: space-between;
  justify-self: right;
  padding: 10px;
}

.bottom-left {
  display: flex;
  width: auto;
  justify-content: space-between;
  justify-self: left;
  padding: 10px;
}

.top-right {
  justify-self: right;
  padding: 10px;
}

.top-left {
  display: flex;
  width: auto;
  justify-content: space-between;
  justify-self: left;
  padding: 10px;
}

.header {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr;
  top: 0;
  height: auto;
  width: 100%;
  font-size: 13px;
  padding-top: 10px;
}

.footer {
  display: grid;
  position: fixed;
  grid-template-columns: 1fr 1fr;
  bottom: 0;
  height: auto;
  width: 100%;
  font-size: 14px;
  background: #f2f2f2;
  padding: 5px;
}
